---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Mi blog de Astro aprendizaje";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <p class="mb-4 text-gray-700 dark:text-gray-300">Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <div class="space-y-2">
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.id}`} title={post.data.title} author={post.data.author} pubDate={post.data.pubDate.toLocaleDateString()} />
      ))
    }
  </div>
</BaseLayout>
