---
const { title, url, pubDate, author, description } = Astro.props;
---

<div class="mb-2 p-3 border border-gray-200 dark:border-gray-700 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-800 transition">
  {url && <h3 class="text-lg font-semibold"><a href={url} class="text-link hover:underline">{title}</a></h3>}
  {author && <p class="text-sm text-body-subtle dark:text-gray-400 mt-1">{author} - {pubDate}</p>}
  {description && <p class="text-sm text-body-subtle mt-1">{description}</p>}
</div>
