---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import { fade } from "astro:transitions";
const { frontmatter } = Astro.props;
const pageDescription = frontmatter.description;
const pageUrl = Astro.url.href;
---

<BaseLayout pageTitle={frontmatter.title} description={pageDescription}>
  <meta
    property="og:image"
    content={new URL(frontmatter.image.url, Astro.site).href}
  />
  <meta
    name="twitter:image"
    content={new URL(frontmatter.image.url, Astro.site).href}
  />
  <meta
    property="article:published_time"
    content={frontmatter.pubDate.toISOString()}
  />
  <p class="text-body dark:text-gray-300">
    {frontmatter.pubDate.toString().slice(0, 10)}
  </p>

  <h2 class="text-2xl font-semibold mb-2">{frontmatter.title}</h2>
  <em class="text-body dark:text-gray-200">{frontmatter.description}</em>

  <p class="text-gray-800 dark:text-gray-200">
    Escrito por: <a href="/about" class="text-link hover:underline"
      >{frontmatter.author}</a
    >
  </p>
  <div class="rounded-lg my-4 w-full h-75 overflow-hidden">
    <Image
      src={frontmatter.image.url}
      width={800}
      inferSize={true}
      alt={frontmatter.image.alt}
      loading="lazy"
      decoding="async"
      class="w-full h-auto object-cover"
    />
  </div>
  <div class="flex flex-wrap gap-2">
    {
      frontmatter.tags.map((tag) => (
        <p class="m-1 border border-blue-200 rounded-lg px-4 py-2 text-[1.15rem] bg-tag-bg dark:bg-blue-900/20">
          <a href={`/tags/${tag}`} class="no-underline hover:underline">
            #{tag}
          </a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
